*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: #ffa885;
    font-family: monospace;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container h1 {
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.container > *{
    margin-top: 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgreen;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: red;
}

/* input:focus + .slider {
    box-shadow: 0 0 1px #219ff3;
  } */

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.roundedSwitch {
    display: flex;
    flex-direction: row;
    font-size: 3em;

}

input[type="text"] {
    outline: none;
    font-size: 2.5em;
    color: gray;
    border-radius: 5px;
    border: 0.5px gray solid;
    line-height: 35px;
}

input[type="text"]::placeholder {
    color: lightgray;
}


input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border: 1px solid #5AB0DB;
    
}

input[type="text"]:focus:hover {
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border: 1px solid #5AB0DB;
    border-radius: 0;
    
}

.containerInputText{
    display: flex;
    flex-direction: row;
    
}

.containerInputText > *{
    margin-left: 10px;
    margin-right: 10px;
}

.containerInputText h2{
    font-size: 4em;
}

button{
    background-color: #008efc;
    border: 0;
    color: white;
    font-size: 3em;
    line-height: 35px;
    width: 180px;
    border-radius: 2px;
    transition: background-color 0.5s ease;
    
}

button:hover{
    background-color: black;
    cursor: pointer;
}

.physicalEffort{
    margin-right: 10px;
}

.food{
    margin-left: 10px;
}

.banner{
    font-size: 3em;
}

.banner:hover{
    cursor: pointer;
    color: black;
}

select{
    background-color: white;
    border: 0; 
    font-size: 3em;
    border-radius: 2px;
}

.inputValue{
    width:100px;
}